body {
    font-family: 'Inter', sans-serif;
    background-color: #fdfdfd;
    color: #1a202c; /* gray-900 */
}

nav a {
    transition: color 0.3s ease;
    color: inherit;
}

button,
.btn {
    transition: background-color 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
